<!-- Need to use NVM 10.18.0-->
<!Doctype>
<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <title> Falcon Construction Database Page </title>
    <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap 5.1.3 CSS -->
    <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity = "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin = "anonymous">

    <!-- NEEDED FOR NAV BAR -->
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body>

<!--Navigation bar-->
<div id = "nav_bar"></div>
<script>
    $(function () {
        $("#nav_bar").load("nav_bar.html");
    });

</script>
<!--End Navigation bar-->

<!-- FORM -->
<div class = "container-fluid" style = "margin-top:50px; margin-bottom: 50px;">
    <div class = "card">
        <div class = "card-body">
            <h4>Add a new Job_Employee Relationship</h4>
            <div class = "form-row">
                <div class = "col-md-5 mb-3">
                    <label for = "employee_id"></label>
                    <select class = "form-control" id = "employee_id" name = "employee_id" required>
                        <option selected>Select an existing employee</option>
                        <option value = "1">1</option>
                        <option value = "5">10</option>
                        <option value = "6">11</option>
                        <option value = "8">12</option>
                        <option value = "9">25</option>
                    </select>
                </div>
                <div class = "col-md-7 mb-3">
                    <label for = "eid_name"></label>
                    <input class = "form-control" id = "eid_name" name = eid_name" type = "text"
                           value = "Employee code - F_name L_name will be read-only" readonly>
                </div>
            </div>
            <div class = "form-row">
                <div class = "col-md-5 mb-3">
                    <label for = "job_id"></label>
                    <select class = "form-control" id = "job_id" name = "job_id" required>
                        <option selected>Select an existing job</option>
                        <option value = "1">22</option>
                        <option value = "5">37</option>
                        <option value = "6">1</option>
                        <option value = "8">2</option>
                        <option value = "9">2</option>
                    </select>
                </div>
                <div class = "col-md-7 mb-3">
                    <label for = "jid_desc"></label>
                    <input class = "form-control" id = "jid_desc" name = jid_desc" type = "text"
                           value = "Job code - Job description will be read-only" readonly>
                </div>
            </div>
            <div class = "text-center">
                <button type = "button" class = "btn btn-secondary" name = "submit_new_customer">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- End FORM -->

<!-- Editable JOB_EMPLOYEES table -->
<div class = "container-fluid">
    <div class = "card text-center">
        <div class = "card-header font-weight-bold text-uppercase py-4" style = "font-size: 26px">Job_Employees Table
        </div>
        <div class = "card-body">
            <table class = "table table-bordered table-responsive-md table-striped text-center">
                <thead>
                <tr>
                    <th class = "text-center">Job_Employee ID</th>
                    <th class = "text-center">Employee ID</th>
                    <th class = "text-center">Job ID</th>
                    <th class = "text-center">Update</th>
                    <th class = "text-center">Remove</th>
                </tr>
                </thead>
                <tbody>
                {{#each data}}
                    <tr>
                        <td class = "pt-3-half">{{this.job_employee_id}}</td>
                        <td class = "pt-3-half">{{this.fk_employee_id}}</td>
                        <td class = "pt-3-half">{{this.fk_job_id}}</td>

                        <td>
                            <button type = "button" class = "btn btn-dark btn-sm my-0"> Update</button>
                        </td>
                        <td>
                            <button type = "button" class = "btn btn-danger btn-rounded btn-sm my-0"> Delete</button>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End Editable JOB_EMPLOYEES table -->

<!-- Button Row -->
<div class = "container text-center" style = "margin-top:25px;">
    <a href = "/job_employees_search" class = "btn btn-primary"> Search for Job_Employees Relationship</a>
</div>
<!-- Button Row -->

<!-- FOOTER -->
<div id = "footer"></div>
<script>
    $(function () {
        $("#footer").load("footer.html");
    });

    $(document).ready(function () {
        $("a[href='" + window.location.href + "']").addClass("active");
    });
</script>
<!-- END FOOTER -->

</body>

</html>